[Unit]
Description=Set NVME ownership for Blackbox
Before=blackbox-web.service blackbox.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/chown -R blackbox:blackbox /mnt/nvme
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
